[submodule "aoc-2023-inputs"]
	path = aoc-2023-inputs
	url = git@github.com:Captainfl4me/aoc-2023-inputs.git
[submodule "aoc-2024-inputs"]
	path = aoc-2024-inputs
	url = git@github.com:Captainfl4me/aoc-2024-inputs.git
